.login-form {
  margin-bottom: 20px;
  &-h2 {
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 10px 25px;
  
    &__elem{
      margin: 10px 0;
       & > *{
         cursor: pointer;
       } 
    }
  }
}
