.tasks__table__header {
  &-item {
    position: relative;
    .table__header-item__wrap {
      position: absolute;
      display: inline-block;
      font-weight: normal;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0;
      width: 20px;
      text-align: center;
      right: 5px;
      cursor: pointer;
  
      & > * {
        line-height: 1;
        font-size: .8rem;
      }
    }
  }
  &-bth {
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  }
  &-loupe {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    font-weight: normal;
  }
}
