.tasks__table__header {
  &-item {
    position: relative;
    font-weight: normal;
    .tasks__table__header-item__wrap {
      display: flex;
      align-items: center;
    }
  }
  &-bth {
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  }
  &__search {
    width: 100%;
    text-align: right;
  }
  &-loupe {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    transform: rotate(-45deg);
    font-weight: normal;
  }
}
