.app-header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.main-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
