.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  padding: 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;align-items: center;
}
.page-link:hover {
  color: #0000ff;
  border-color:  #0000ff;
}
.page-link-active {
  color: #0000ff;
  border-color:  #0000ff;
}
.page-item {
  line-height: 1;
}
