.table-description {
  &:hover {
    background-color: #eee;
  }

  &-elem {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
  }

  &-bth {
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  }
}
