.table-description {
  &:hover {
    background-color: #fafafa;
  }

  &-elem {
    padding: 0.5em;
    border-bottom: 1px solid #f2f2f2;
  }

  &-bth {
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  }
}
