.manager {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

<<<<<<< HEAD
.form-item {
  display: flex;
  justify-content: space-around;
  & > ul > li {
    list-style-type: none;
  }
=======
// .form-item {
//   display: flex;
//   justify-content: space-around;
//   & > ul > li {
//     list-style-type: none;
//   }
// }

.form-items {
  display: flex;
}
.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
>>>>>>> 672e8c55492ac18c04f9bc265fde009971d90ed3
}
